@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Ensure smooth scrolling works on all browsers */
* {
  scroll-behavior: smooth;
}